<div class="container">
	
<table class="table table-striped custab"> 
  <thead>
    <tr>
      <th>Activity</th>
			<th></th>
			<th>Grade</th>
    </tr>
  </thead>

  <tbody>
		<% @grades.each do |grade| %>
			<tr>
				<td><%= grade.activity.activity_type %></td>
				<td><%= grade.activity.content %></td>
				<td><%= grade.score %></td>	
			</tr>
		<% end %>
  </tbody>
</table>

Average: <%= @grades.average(:score)  %>
</div>