
<div class="container">
	<div class="row custyle">
		<h3 class="text-center">My Grades</h3>
		<div id="no-more-tables">
			<table class="col-md-10 col-sm-9 col-lg-10 table-bordered table-striped table-condensed cf">
  			<thead class="cf">
    			<tr>
      			<th>Subject</th>
						<th>Grade</th>
    			</tr>
  			</thead>
  			<tbody>
					<% @student.grades.each do |grade| %>
						<tr>
							<td data-title="Subject"><%= grade.score %></td>
							<td data-title="Grade"><%= grade.section.subject.name %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<br>
			<div class="container">
				<p>Average: <%= @student.grades.average(:score)  %></p>
			</div>