
<div class="container">
	<div class="row custyle">
		<table class="table table-striped custab">
  		<thead>
    		<tr>
      		<th>My Grades</th>
      		<th>Subject</th>
    		</tr>
  		</thead>
  		<tbody>
				<% @student.grades.each do |grade| %>
					<tr>
						<div class="col-md-3">
							<td><%= grade.score %></td>
							 <td><%= grade.section.subject.name %></td>
						</div>
					</tr>
				<% end %>
			</tbody>
		</table>
		<div class="container">
		Average:
		<%= @student.grades.average(:score)  %>
	</div>
	</div>
</div>
			