<div class="container">
	<div class="row custyle">
		<table class="table table-striped custab">
  		<thead>
    		<tr>
      		<th class="text-center">My Curriculum</th>
      		<th colspan="3"></th>
    		</tr>
  		</thead>
  		<tbody>
				<% @student.course.subjects.each do |subject| %>
					<tr>
						<div class="col-md-3">
			    		<td><%= subject.name %></td>
						</div>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
			