<div class="single category">
	<h3 class="side-title">My Curriculum</h3>
	<ul class="list-unstyled">
		<% @student.course.subjects.each do |subject| %>
			<li><%= subject.name %></li>
		<% end %>
	</ul>
</div>