<div class="container">
	<br><br>
</div>
<div class="container">
	<div class="row">
  	<div class="col-xs-12 col-sm-offset-1 col-sm-8">
    	<div class="row">
      	<div class="col-xs-4 my_planHeader my_plan1">
        <div class="my_planTitle">Admin</div>
        <div class="my_planDuration">-</div>
        <a type="button" class="btn btn-default" href="<%= new_user_registration_path %>">New Admin</a>
      </div>
      <div class="col-xs-4 my_planHeader my_plan2">
      	<div class="my_planTitle">Teacher</div>
        <div class="my_planDuration">-</div>
        <a type="button" class="btn btn-default" href="<%= teacher_signup_path %>">New Teacher</a>
      </div>
      <div class="col-xs-4 my_planHeader my_plan3">
        <div class="my_planTitle">Student</div>
        <div class="my_planDuration">-</div>
        <a type="button" class="btn btn-default" href="<%= student_signup_path %>">New Student</a>
      </div>
    </div>
  </div>
</div>
