<header class="business-header">
	<div class="container">
  	<div class="row">
    	<div class="col-lg-10">
      	<h1 class="tagline"> School App</h1>
      </div>
  	</div>
	</div>
</header>
    
<div class="container">
	<hr>
	<div class="row">
  	<div class="col-sm-1">
    </div>
    <div class="col-sm-4">
    	<h2>Announcements</h2> 
    	<p><%= t('welcome') %>! All the important and relevant info will be displayed here</p>
      <p>
      	<a class="btn btn-default btn-sm" href="#">View More &raquo;</a>
      </p>
    </div>
  </div>
  <hr>
	<div class="row">
  	<div class="col-sm-1">
    </div>
    <div class="col-sm-4">
    	<img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
      <h2>Important Box #1</h2>
      <p>Some stuff you need to look at</p>
    </div>
    <div class="col-sm-4">
    	<img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
      <h2>Important Box #2</h2>
      <p>Notice me senpai</p>
    </div>
  </div>
  <hr>
</div>
       