
<div class="container">
	<div class="row custyle">
		<h3 class="text-center">My Schedule</h3>
		<div id="no-more-tables">
			<table class="col-md-10 col-sm-9 col-lg-10 table-bordered table-striped table-condensed cf">
  			<thead class="cf">
    			<tr>
      			<th>Section</th>
      			<th>Time Period</th>
    			</tr>
  			</thead>
  			<tbody>
					<% @teacher.sections.each do |section| %>
						<tr>
				  		<td data-title="Section"><i class="fa fa-search-plus" aria-hidden="true"></i> <a href="<%= section_path(section.id, :user_id => current_user.id ) %>"> 
								<%= section.name %></a></td>
							<td data-title="Time Period"><%= section.schedule %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
			