
<div class="container">
	<div class="row custyle">
		<table class="table table-striped custab">
  		<thead>
    		<tr>
      		<th>My Schedule</th>
      		<th>Time Period</th>
					<th>Professor</th>
    		</tr>
  		</thead>
  		<tbody>
				<% @teacher.sections.each do |section| %>
					<tr>
						<div class="col-md-3">
				  		<td> <a href="<%= section_path(section.id, :user_id => current_user.id ) %>"> <%= section.name %></a></td>
							<td><%= section.schedule %></td>
						</div>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
			