<div class="container">
	<div class="row custyle">
		<table class="table table-striped custab">
  		<thead>
    		<tr>
      		<th>Subjects Handled</th>
    		</tr>
  		</thead>
  		<tbody>
				 <% @teacher.subjects.each do |subject| %>
					<tr>
						<div class="col-md-3">
							<td><%= subject.name %></td>
						</div>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
			